table{
    border-collapse: collapse;
    margin-top: 20px;
    th,td{
        background-color: blueviolet;
        padding: 10px;
    }
    thead{
        background-color: rgb(243, 243, 243);
        color: white;
    }
}